h1{
    color:
    rgb(239, 183, 0);
    font-family:Arial;
    font-size: 24px;

}
    
article{

background-image: url(Field.webp)
}

.container
{display: grid;
grid-template-columns: repeat(3, 1fr);
gap:10px;

}

.item
{grid-column: 1 / 3;
grid-row: 2 / 4;

}

.container {
    display: grid;
    grid-template-areas: 
    "header header";
}

.header
{
    grid-area: header;
}